@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,700');



/*---Media Queries --*/
@media (max-width: 992px) {

  }
@media (max-width: 768px) {
  
}
@media (max-width: 576px) {
  
}

html, body {
    height: 100%;
    width: 100%;
}

.main-section {
    margin-top: 15%;
    margin-left: 100%;
}


.modal-content {
    width: 360px;
    height: auto;
    background-color: #f8f9fa;
    opacity: .97;
    border-radius: 3px;
    padding: 10px;
    box-shadow:  0px 0px 20px -5px rgba(0,0,0,1);
}

.h3-singup {
    padding: 0 4% 4%;
}

.form-group input {
    height: 42px;
}

.forgot {
    padding: 5px 0 25px;
}

forgot a {
    color: #daf1ff;
}

.navbar {
    background-color: #f8f9fa;
    width: 100%;
    height: 62px;
    padding: 0.5% 1.5%;
    font-size: 1.1em;
    box-shadow: 0px 0px 15px -5px rgba(0,0,0,1);
}

.navbar-brand {
    padding: 0 15px 0px;
}

footer {
    padding: 10px;
    font-size: 11px;
    color: #8d8d8d;
    width: 100%;
    padding: 8px;
    background-color: #f8f9fa;
}

.socialicon {
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 15px;
}

.fa-facebook {
  color: #8d8d8d;
}

.fa-google {
  color: #8d8d8d;
}

.fa-twitter {
  color: #8d8d8d;
}

.fa-instagram{
  color: #8d8d8d;
}

.fa-github{
  color: #8d8d8d;
}

#home {
    background: url(../img/background.png) no-repeat center center fixed;
    display: table;
    height: 100%;
    width: 100%;
    position: relative;
    background-size: cover;
}
/*---Firefox Bug Fix --*/
.carousel-item {
  transition: -webkit-transform 0.5s ease;
  transition: transform 0.5s ease;
  transition: transform 0.5s ease, -webkit-transform 0.5s ease;
  -webkit-backface-visibility: visible;
  backface-visibility: visible;
}
/*--- Fixed Background Image --*/
figure {
  position: relative;
  width: 100%;
  height: 60%;
  margin: 0!important;
}
.fixed-wrap {
  clip: rect(0, auto, auto, 0);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
#fixed {
  background-image: url('img/img/mac.png');
  position: fixed;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center center;
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
  will-change: transform;
}
/*--- Bootstrap Padding Fix --*/
[class*="col-"] {
    padding: 1rem;
}





/*
Extra small (xs) devices (portrait phones, less than 576px)
No media query since this is the default in Bootstrap

Small (sm) devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

Medium (md) devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

Large (lg) devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

Extra (xl) large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }
*/
