{% load static %}
<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>text Messenger</title>
    <link rel="shortcut icon" href="{% static 'img/_logo.png' %}" width="16" height="13"> 
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Quicksand" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="{% static 'js/validator.min.js' %}"></script>
    <script src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>
    <link type=text/css  href="{% static 'css/style_login.css' %}" rel="stylesheet">
    </head>
    <body>
<body>

<!-- Navigation -->
<nav class="navbar navbar-expand-md navbar-light sticky-top">
	<div class="container-fluid">
		<a class="navbar-brand" href="/"><img src="{% static 'img/logotext.png' %}" width="162" height="53"></a>
		<div class="collapse navbar-collapse" id="navbarResponsive">
			<ul class="navbar-nav ml-auto">
				<li class="nav-item">
					<button onclick="home();" class="btn btn-success bnt-block">Voltar para home</button>
				</li>
			</ul>
		</div>
	</div>
</nav>

<script>
    function home() {
                window.location.href = '/';
            }
</script>

<!--- Home -->
<div id="home">
    <div class="modal-dialog text-center">
        <div class="col-sm-9 main-section"> 
            <div class="modal-content">
                <div class="col-sm-12">
                    <h4 class="h3-singup">Faça seu Login</h4>
                    {% block content %}
                    {% if form.non_field_errors %}
                        <ul class='form-errors'>
                            {% for error in form.non_field_errors %}
                                <li>{{ error }}</li>
                            {% endfor %}
                        </ul>
                    {% endif %}    
                    <form action="{% url 'usuarios:login' %}" method="POST">
                        {% csrf_token %}
                        <div class="form-group">
                            <input type="text" name="username" class="form-control" placeholder="Username" required="required"\>
                        </div>
                        <div class="form-group">
                            <input type="password" name="password" class="form-control" placeholder="Senha" required="required"\>
                        </div>

                        <div>
                            <button type="submit" class="btn btn-success bnt-block">Login</button>
                        </div>
                    </form>
                    {% endblock %}
                </div>
            </div>
        </div>
    </div>
</div>
    
<!--- Footer -->
<footer class="container-fluid text-center">
    <div class="socialicon" class="col">
        <a href="https://www.facebook.com" ><img class="fab fa-facebook"></a>
        <a href="https://www.twitter.com" ><img class="fab fa-twitter"></a>
        <a href="https://www.googleplus.com" ><img class="fab fa-google"></a>
        <a href="https://www.instagram.com" ><img class="fab fa-instagram"></a>
        <a href="https://github.com" ><img class="fab fa-github"></a>
    </div>
    <p>&copy Copyright 2018 by text - All Rights Reserved  :p </p>
</footer>

</body>
</html>
